body {
	font-family: "Raleway", sans-serif;
}

header {
	background-image: url("../img/pexels-miguel-á-padriñán-255379.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.imgjm {
	float: left; /* Hace que la imagen flote a la izquierda */
	margin-right: 10px; /* Margen derecho para separar la imagen del texto */
}

.Portafolio .image-top {
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.imgFirst {
	object-fit: cover;
}

.exp {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	#Contacto form label {
		font-weight: 400;
	}

	.navbar-brand {
		width: 100px;
	}
}
